@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #1c1e53;
  transition: color 0.3s ease;
}

a:hover {
  color: #5e3bee !important;
}

li {
  list-style: none;
}

#menuButton {
  display: none;
}

nav {
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 0 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
}

nav button {
  color: #1c1e53;
  background-color: transparent;
  padding: 12px 16px;
  border-radius: 5px;
  border: #1c1e53;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}

nav button:hover {
  background-color: #5e3bee;
  border-color: #5e3bee;
  color: #fff;
}

nav a {
  font-size: 16px;
}

nav .logo a button .bx {
  display: none;
}

main {
  height: 600px;
  padding: 50px 10px 60px 10px;
}

.wrapper {
  padding: 20px 40px;
  border-radius: 20px;
  background: rgb(210, 38, 48);
  margin-right: 20%;
  margin-left: 20%;
}
/*VOLUME*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #d22630;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #d22630;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

/*la barra*/
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  background: linear-gradient(to right, #d22630, #ddd);
  border-radius: 5px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  margin-top: 10px;
}

.volume-slider {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  opacity: 0.9;
}
.IconoVol {
  margin-top: 7px;
  padding: 10px;
}

.cambioDePiano {
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cambioDePiano img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
}

.cambioDePiano h3 {
  margin: 9px 0 0 10px;
  color: #deebee;
  opacity: 0.8;
}

.teclado .wrapper .piano {
  padding-left: 55px;
}

.marca {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: white;
}
.piano .white-key {
  box-shadow: 5px 5px 10px #fff inset, -5px -5px 10px #b2b2b2 inset;
}

.piano .black-key {
  box-shadow: 5px 5px 10px #000000 inset, -5px -5px 10px #333 inset;
}

.piano {
  display: flex;
  list-style: none;
  margin-top: 40px;
}

.piano .key {
  cursor: pointer;
  user-select: none;
  position: relative;
  cursor: url("/assets/html-elements/piano\(2\)-icono-cursor-nota-musical.svg"),
    auto;
}

.piano .black-key {
  z-index: 2;
  width: 44px;
  height: 140px;
  margin: 0 -22px 0 -22px;
  border-radius: 0 0 5px 5px;
  background: #212121;
}

.piano .white-key {
  height: 230px;
  width: 70px;
  border-radius: 4px;
  border: 1px solid #000;
  background: whitesmoke;
}

.teclado .wrapper ul {
  padding-left: 60px;
}

.boton-piano {
  opacity: 0.8;
  cursor: url("/assets/html-elements/piano (2)-icono-cursor-piano.png"), auto;
  width: 7%;
}
.leyenda {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.ratonLeyenda {
  display: flex;
  justify-content: center;
  text-align: justify;
}

.tecladoLeyenda {
  display: flex;
  justify-content: center;
}

.tecladoLeyendaLetras {
  margin-top: 15px;
  margin-left: 20px;
}

.ratonLeyendaParrafo {
  margin-top: 4px;
  margin-left: 20px;
}
nav .logo,
footer .logo {
  display: flex;
  align-items: center;
}

nav .logo a,
footer .logo a {
  margin-left: 8px;
  font-weight: bold;
  font-size: 20px;
}

nav .logo img,
footer .logo img {
  width: 95px;
  height: 80px;
}

nav ul,
footer .top ul {
  display: flex;
  gap: 40px;
}

footer {
  background-color: #deebee;
  padding: 50px 80px 60px 80px;
  display: flex;
  flex-direction: column;
}

footer .top,
footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .top .social-link {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 28px;
}

footer .separator {
  width: 100%;
  height: 1px;
  background-color: #282938;
  margin: 30px 0 20px;
}

footer .bottom p {
  font-size: 12px;
}

footer .bottom .links a {
  font-size: 12px;
  margin-left: 14px;
}

@media screen and (max-width: 1400px) {
  .teclado .wrapper .piano {
    padding-left: 0;
  }
}

@media screen and (max-width: 1200px) {
  main {
    height: 500px;
    padding: 50px 10px 60px 10px;
  }
  .wrapper {
    padding: 25px;
  }
  .encabezado {
    flex-direction: column;
  }
  .encabeza :where(h2, .column) {
    margin-bottom: 13px;
  }
  .volume-slider .input {
    max-width: 100px;
  }

  .teclado .wrapper .piano {
    padding-left: 0;
  }

  .piano {
    margin-top: 20px;
  }
  .piano .key:nth-child(9),
  .piano .key:nth-child(10) {
    display: none;
  }
  .piano .black-key {
    height: 70px;
    width: 30px;
    margin: 0 -20px 0 -20px;
  }
  .piano .white-key {
    height: 100px;
    width: 50px;
  }
  #menuButton {
    display: none;
  }

  .teclado {
    display: flex;
    justify-content: center;
  }

  .teclado .wrapper ul {
    padding-left: 0px;
  }
}


@media screen and (max-width: 992px) {
  main {
    height: 500px;
    padding: 50px 10px 50px 10px;
  }
  .wrapper {
    padding: 25px;
  }
  .encabezado {
    flex-direction: column;
  }

  .teclado .wrapper .piano {
    padding-left: 0;
  }
  .encabeza :where(h2, .column) {
    margin-bottom: 13px;
  }
  .volume-slider .input {
    max-width: 100px;
  }
  .piano {
    margin-top: 20px;
  }

  .piano .black-key {
    height: 70px;
    width: 30px;
    margin: 0 -20px 0 -20px;
  }
  .piano .white-key {
    height: 100px;
    width: 50px;
  }
}
nav button {
  display: none;
}

nav ul {
  gap: 20px;
}

nav ul li a {
  font-size: 15px;
}

.container-instrument h3,
.container-team h3,
.container-about h3 {
  font-size: 26px;
}

.container-video .description {
  display: none;
}

.container-instrument {
  flex-direction: column;
  justify-content: center;
}

.container-instrument .instrument-items {
  justify-content: center;
}

.container-instrument .instrument-items .item h4 {
  font-size: 28px;
}

.container-about {
  flex-direction: column;
  justify-content: center;
}

.container-team .team-items {
  gap: 22px;
  flex-wrap: wrap;
  justify-content: center;
}

.container-team .team-items .item {
  width: 48%;
}

.container-team .team-items img {
  width: 140px;
  height: 140px;
}

footer .top ul {
  display: none;
}

.in-construction img {
  width: 30em;
}

.in-construction h1 {
  font-size: 1em;
}

.in-construction p {
  font-size: 0.8em;
}

@media screen and (max-width: 768px) {
  .piano .key:nth-child(13),
  .piano .key:nth-child(14),
  .piano .key:nth-child(15),
  .piano .key:nth-child(16),
  .piano .key:nth-child(17) {
    display: none;
  }
  main .wrapper ul .piano {
    padding: 80px 75px 80px 75px;
    width: 100%;
  }
  nav {
    justify-content: space-between;
    padding: 0 42px;
  }

  nav ul {
    display: none;
  }

  nav.open .logo {
    display: none;
  }

  nav.open ul {
    display: flex;
  }

  nav button#menuButton {
    display: flex;
  }

  .container-video .description {
    display: none;
  }

  .container-instrument h3,
  .container-team h3,
  .container-about h3 {
    font-size: 24px;
  }

  .container-instrument .instrument-items .item h4 {
    font-size: 26px;
  }

  .container-about {
    padding: 60px 85px 0 85px;
  }

  .in-construction img {
    width: 25em;
  }
}

@media screen and (max-width: 576px) {
  .container-video .description {
    display: none;
  }

  .container-instrument .instrument-items .item h4 {
    font-size: 24px;
  }

  .container-about {
    padding: 60px 85px 0 85px;
  }

  .container-about .about {
    display: flex;
    flex-direction: column;
  }

  .container-team {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 391px) {
  .container-team {
    display: flex;
    flex-direction: column;
  }

  .container-team .team-items .item {
    transition: transform 0.3s;
  }

  .container-team .team-items .item:hover {
    transform: scale(1.1);
  }

  .container-team .team-items .item img {
    width: 80px;
    height: 80px;
  }
}
